$test-color: red;
$header-height: 60px;
$aside-width: 180px;
$header-background-color: #061f2c;

 $log-view-black: rgb(0, 0, 0);
 $log-view-red: rgb(194, 54, 33);
 $log-view-green: rgb(37, 188, 36);
 $log-view-yellow: rgb(173, 173, 39);
 $log-view-blue: rgb(73, 46, 225);
 $log-view-magenta: rgb(211, 56, 211);
 $log-view-cyan: rgb(51, 187, 200);
 $log-view-white: rgb(203, 204, 205);
 $log-view-bright-black: rgb(129, 131, 131);
 $log-view-bright-red: rgb(252, 57, 31);
 $log-view-bright-green: rgb(49, 231, 34);
 $log-view-bright-yellow: rgb(234, 236, 35);
 $log-view-bright-blue: rgb(88, 51, 255);
 $log-view-bright-magenta: rgb(180, 0, 158);
 $log-view-bright-cyan: rgb(97, 214, 214);
 $log-view-bright-white: rgb(242, 242, 242);